#future-steps {
  color: magenta;
}

#app {
  color: blue;
}

.emphasized {
  font-size: 1.2em;
}

#slide1 {
  color: blue;
  data-background=#F2EFFB;
}

#slide2 {
  color: blue;
  background=#F6CEE3;
}

#slide3 {
  color: blue;
}


body {
  background: #111;
  background: #F6E3CE;
  background-color: #A9A9F5;
  background-color: #FE2E2E;
  background-color: #FF4000;
  background-color: #0000FF;
  background-color: #2ECCFA;
  background-color: #01A9DB;
}

